<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrizio Meloni - CV</title>

    <link rel="stylesheet" href="/assets/css/pageCv.css">
</head>
<body>
    <header class="header-menu">
        <nav class="menu">
            <label class="menu__logo"> 
                <a class="menu__a" title="Home" href="#http://localhost:2500/">
                    <span>F</span>M
                </a>
            </label>
            <ul class="menu__items">
                <li class="navigation--mobile__list active">
                    <a href="#home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text mostrar">Home</span>
                    </a>
                </li>
                <li class="navigation--mobile__list">
                    <a href="#about">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="text mostrar">About</span>
                    </a>
                </li>
                <li class="navigation--mobile__list">
                    <a href="#portfolio">
                        <span class="icon">
                            <ion-icon name="folder-outline"></ion-icon>
                        </span>
                        <span class="text mostrar">Portfolio</span>
                    </a>
                </li>
                <li class="navigation--mobile__list">
                    <a href="#contact">
                        <span class="icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                        <span class="text mostrar">Contact</span>
                    </a>
                </li>
            </ul>
            
        </nav>
        
    </header>
    <main>
        <iframe src="/assets/img/Fabrizio-Meloni.pdf" width="100%" height="100%" /></body>
    </main>
    
    <footer></footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>