<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrizio Meloni</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <nav class="header">
            <a href="">FM</a>
            <ul class="header__menu">
                <li>
                    <a href="">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="">
                        Sobre mi
                    </a>
                </li>
                <li>
                    <a href=""> 
                        Portafolio
                    </a>
                </li>
                <li>
                    <a href="">
                        Contacto
                    </a>
                </li>
            </ul>

            <button class="header__btn">
                <i class="fa fa-bars"></i> 
            </button>
        </nav>
    </header>

    <main>
        <section class="inicio">
            <div class="inicio__text">
                <h2> <span> Fabrizio </span> Meloni</h2>
                <h1>Full Stack Developer</h1>
                <a href=""></a>
                <div class="inicio__text--icons">
                    <a href="https://www.linkedin.com/in/fabrizio-meloni-4126711b7/"  target="_blank" >
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/Melo453" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.instagram.com/_fabrimeloni_/" target="_blank" >
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <img src="/assets/img/Foto_fabri.jpg" alt="Foto fabri">
        </section>
        <section>
            
        </section>
    </main>

    <footer>

    </footer>

    <script src="https://kit.fontawesome.com/f3b01aeff0.js" crossorigin="anonymous"></script>
</body>
</html>