<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrizio Meloni</title>

    <!--estilos-->
    <link rel="stylesheet" href="/assets/css/app.css">

    <!--favicon-->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="assets/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div class="navigation--mobile">
            <a href="#" class="navigation--mobile__a"> fm</a>
            <div class="menu--mobile">
                <span class="menu__bars1">

                </span>
                <span class="menu__bars2">

                </span>
                <span class="menu__bars3">

                </span>
            </div>
            <nav class="navigation--mobile__nav">
                <ul class="desocultar">
                    <li class="navigation--mobile__list active">
                        <a href="#home">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">Home</span>
                        </a>
                    </li>
                    <li class="navigation--mobile__list">
                        <a href="#about">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">About</span>
                        </a>
                    </li>
                    <li class="navigation--mobile__list">
                        <a href="#portfolio">
                            <span class="icon">
                                <ion-icon name="folder-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">Portfolio</span>
                        </a>
                    </li>
                    <li class="navigation--mobile__list">
                        <a href="#contact">
                            <span class="icon">
                                <ion-icon name="call-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">Contact</span>
                        </a>
                    </li>
                    <div class="navigation--mobile__indicator">

                    </div>
                    <div class="navigation--mobile__footer2">
                        <h2 class="navigation--mobile__h2--footer2"><span>Fabrizio</span> Meloni</h2>

                        <p class="navigation--mobile__p--footer2">Made with <span>❤</span> in Argentina</p>
                    </div>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <div class="navigation">
            <a href="#inicio" class="navigation__a aparecer" > fm</a>
            <nav class="navigation__nav expandir ">
                <ul class="desocultar">
                    <li class="navigation__list " >
                        <a href="#home">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">Home</span>
                        </a>
                    </li>
                    <li class="navigation__list " >
                        <a class="navigation__a--icons" href="#about" >
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">About</span>
                        </a>
                    </li>
                    <li class="navigation__list ">
                        <a href="#portfolio">
                            <span class="icon">
                                <ion-icon name="folder-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">Portfolio</span>
                        </a>
                    </li>
                    <li class="navigation__list ">
                        <a href="#contact">
                            <span class="icon">
                                <ion-icon name="call-outline"></ion-icon>
                            </span>
                            <span class="text mostrar">Contact</span>
                        </a>
                    </li>
                    <div class="navigation__indicator">

                    </div>
                    <div class="navigation__footer2">
                        <h2 class="navigation__h2--footer2"><span>Fabrizio</span> Meloni</h2>

                        <p class="navigation__p--footer2">Made with <span>❤</span> in Argentina</p>
                    </div>
                </ul>
            </nav>
            <div class="navigation__footer desocultar">
                <h2 class="navigation__h2--footer"><span>Fabrizio</span> Meloni</h2>

                <p class="navigation__p--footer">Made with <span>❤</span> in Argentina</p>
            </div>
        </div>
        <section id="home" class="inicio">
            <div id="particles-js">
            </div>
            <div class="inicio__text" data-aos="fade-right">
                <h1 class="inicio__h2"> <span> Fabrizio </span> Meloni</h1>
                <div class="inicio__container">
                    <span class="text inicio__move"></span>
                </div>

                <div class="inicio__text--icons" data-aos="flip-down">
                    <a class="inicio__a" title="Linkedin" href="https://www.linkedin.com/in/fabrizio-meloni-4126711b7/"
                        target="_blank">
                        <i class="inicio__i fab fa-linkedin-in"></i>
                    </a>
                    <a class="inicio__a" title="Github" href="https://github.com/Melo453" target="_blank">
                        <i class="inicio__i fab fa-github"></i>
                    </a>
                    <a class="inicio__a" title="Instagram" href="https://www.instagram.com/fabrimeloni_/"
                        target="_blank">
                        <i class=" inicio__i fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <img class="inicio__img" src="/assets/img/principal.png" alt="Foto fabri" data-aos="fade-left">

        </section>
        <hr style="height:.1px; background: #32353c;">
        <section id="about" class="info">

            <div class="info__text" data-aos="fade-right">
                <h2 class="info__h2" data-aos="fade-down-right">About Us</h2>
                <p class="info__p">
                    Hello! My name is Fabrizio. I am a young software developer who loves exercising, programming and
                    learning about technology. Although I enjoy backend and frontend, I prefer programming with backend.
                    Love working with huge code structures!
                </p>
            </div>
            <div class="info__skill" data-aos="fade-left">
                <h2 class="info__h2--skill" data-aos="fade-down-left">Skills</h2>
                <div class="info__skills">
                    <div class="info__skills--container">
                        <details>
                            <summary>
                                HTML
                            </summary>
                        </details>
                        <details>
                            <summary>
                                CSS
                            </summary>
                        </details>
                        <details>
                            <summary>
                                JAVASCRIPT
                            </summary>
                        </details>
                        <details>
                            <summary>
                                EXPRESS
                            </summary>
                        </details>
                        <details>
                            <summary>
                                GIT
                            </summary>
                        </details>
                        <details>
                            <summary>
                                NODE.JS
                            </summary>
                        </details>
                    </div>
                    <div class="info__skills--container">

                        <details>
                            <summary>
                                MYSQL
                            </summary>
                        </details>
                        <details>
                            <summary>
                                SQL
                            </summary>
                        </details>
                    </div>
                </div>
            </div>
        </section>
        <hr class="hr" style="height:.1px; background: #32353c;">
        <section id="portfolio" class="portfolio">
            <h2 data-aos="fade-down" class="portfolio__h2">My Portfolio</h2>
            <div class="portfolio__grid">
                <div class="portfolio__card" data-aos="fade-up-right">
                    <img src="/assets/img/2-original.png" alt="xd" class="portfolio__img">
                    <h3 class="portfolio__title">
                        (Project description)
                    </h3>
                    <div class="portfolio__links">
                        <a href="">
                            <i class="portfolio__i fab fa-github"> Repository</i>
                        </a>
                        <a href="">
                            <i class="portfolio__i fas fa-globe-americas"> Page</i>
                        </a>
                    </div>
                </div>
                <div class="portfolio__card" data-aos="flip-down">
                    <img src="/assets/img/2-original.png" alt="xd" class="portfolio__img">
                    <h3 class="portfolio__title">
                        (Project description)
                    </h3>
                    <div class="portfolio__links">
                        <a href="">
                            <i class="portfolio__i fab fa-github"> Repository</i>
                        </a>
                        <a href="">
                            <i class="portfolio__i fas fa-globe-americas"> Page</i>
                        </a>
                    </div>
                </div>
                <div class="portfolio__card" data-aos="fade-up-left">
                    <img src="/assets/img/2-original.png" alt="xd" class="portfolio__img">
                    <h3 class="portfolio__title">
                        (Project description)
                    </h3>
                    <div class="portfolio__links">
                        <a href="">
                            <i class="portfolio__i fab fa-github"> Repository</i>
                        </a>
                        <a href="">
                            <i class="portfolio__i fas fa-globe-americas"> Page</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <hr class="hr" style="height:.1px; background: #32353c;">
        <section id="contact" class="contact">
            <h2 class="contact__h2--title" data-aos="fade-down">Contact With Me</h2>
            <div class="contact__data" data-aos="flip-left">
                <h2 class="contact__h2">Get in Touch</h2>
                <img src="/assets/img/contact.png" alt="Contact" class="contact__img">
                <div class="contact__phone">
                    <a href="">
                        <i class="fas fa-phone">
                            Phone
                        </i>
                    </a>
                    <p class="contact__p">+54 351-2623900</p>
                </div>
                <p class="contact__separation"></p>
                <div class="contact__email">
                    <a href="">
                        <i class="fas fa-envelope"> Email</i>
                    </a>
                    <p class="contact__p">fabrimeloni1@gmail.com</p>
                </div>
            </div>

            
            <div class="contact__message" data-aos="flip-right">
                <h2 class="contact__h2--msg"> Send me a message...</h2>
                <form name="form" class="contact__form" action="/send-email" method="POST">
                    <input class="contact__name" type="text" name="name" placeholder="Your name" required>
                    <input class="contact__mail" type="email" name="email" placeholder="Your email" required>
                    <textarea class="contact__msg" name="message" placeholder="Your message..." required></textarea>
                    <button type="submit" id="botton" class="contact__btn">Send message</button>
                </form>
            </div>

        </section>
        <a href="#" class="scrollup" id="scroll-up" data-aos="fade-left">
            <i class="fas fa-arrow-up scrollup__icon"></i>
        </a>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://kit.fontawesome.com/f3b01aeff0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/index-dist.js"></script>
    <script src="/assets/js/sweetAlert.js"></script>
    <script src="/assets/js/particles.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script>
        particlesJS({
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ca6035"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 7,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 8,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        })
    </script>
    <script>
        AOS.init({
            duration:1000
        });
    </script>
</body>

</html>