@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
:root {
  --color-primario: #303036;
  --color-secundario: #FFFAFF;
  --color-terciario: #050401;
  --color-cuaternario: #f86b4f;
  --color-quinario: #00ADB5;
  /* Tipografía */
  --tipo-principal: 'Roboto', sans-serif;
}

/* Las adaptamos al modo oscuro 
@media (prefers-color-scheme: dark) {
    :root {
        --color-primario: #303036;
        --color-secundario: #FFFAFF;
        ;
    }
}



@media (prefers-contrast: high) {
    :root {
        --color-primario: black;
        --color-secundario: white;
    }
} */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: inline;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: inline;
  color: inherit;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: inline;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-secundario);
  background-color: var(--color-primario);
  /* opcional */
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-terciario);
  padding: 1.5rem 0;
}

.header__ul {
  display: none;
}

.header__a {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.header__a::first-letter {
  color: var(--color-quinario);
}

.header__btn {
  cursor: pointer;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  height: 90vh;
}

.inicio__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 29px;
  gap: 15px;
}

.inicio__h2 span, .inicio__h2, .inicio__h1 {
  font-size: 1.2rem;
}

.inicio__h2 span {
  color: var(--color-quinario);
}

.inicio__img {
  max-width: 70%;
  border-radius: 75px 25px;
  border: solid 5px var(--color-cuaternario);
}

.inicio__text--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  gap: 25px;
}

.inicio__button {
  background-color: var(--color-quinario);
  cursor: pointer;
  padding: .4rem 1rem;
  border-radius: 1.25rem;
  text-transform: uppercase;
  color: var(--color-primario);
  font-size: .7rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 1px 3px 11px -5px var(--color-quinario);
          box-shadow: 1px 3px 11px -5px var(--color-quinario);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.info__h2 {
  font-size: 1.5rem;
  position: relative;
}

.info__h2::before {
  content: '';
  background-color: var(--color-cuaternario);
  width: 70px;
  position: absolute;
  height: 4px;
  bottom: -5px;
  left: 15px;
}

.info__p {
  max-width: 85%;
}

.glide {
  height: 190px;
}

.glide__track {
  height: 190px;
}

.glide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glide__img {
  height: 190px;
}
/*# sourceMappingURL=app.css.map */